@charset "UTF-8"; 

/* colinha das cores do codigo */
:root {
    --cor-primaria: #2fa866;
    --cor-secundaria: #83E1AD;
    --cor-texto: #063d1e;
    --cor-fundo: #c5ebd6;
}

@font-face {
        font-family: 'IDroid';
        src: url('fontes/IDroid.otf') format('opentype') url('fontes/IDroid Bold.otf') format('opentype');
}

header {
    background-color: #2fa866;
    color: white;
    padding-top: 20px; 
    padding-bottom: 20px;

}

#subtitulo-principal {
    font-size: 20px;
    margin-top: 5px;
    color: #c5ebd6;
} 

nav {
    display: flex;
    justify-content: left;
    gap: 75px;
    margin-top: 20px;
    margin-left: 20px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: #83E1AD;
}

main {
    margin: auto;
    background-color: #83c9a3;
    padding: 20px;
    border-radius: 10px;

    max-width: 800px;
    margin-top: 20px;
}

h1 {
    font-family: 'IDroid', sans-serif;
    color: #063d1e;
    text-align: center;
    font-size: 50px;
    margin-top: 0px;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  margin: 30px 10px 5px 10px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #063d1e;
    margin: 2px 7px 20px 7px;
}  

a {
    color: #063d1e;
    text-decoration: underline;
    font-size: 18px;
}

/* posição da imagem */
img {
    display: block;
    margin: 20px auto;
    max-width: 100%; 
    height: auto;
}

/* posição do video */
iframe {
    margin: 0 auto;
    align-items: center;
    display: block;
}

.lista-multi-colunas {
    column-count: 2;  
    column-gap: 10px;
    font-size: 20px;
    text-decoration: underline;
}

abbr {
    text-decoration: none;
    cursor: help;
}

footer {
    background-color: #2fa866;
    color: white;
    text-shadow: #063d1e 1px 1px 2px;
    font-size: 13px;
    text-align: center;
    padding: 3px;
    margin-top: 30px;
}